<ul class="collection">
  <li class="collection-item avatar">
    <img src="images/yuna.jpg" alt="" class="circle">
    <span class="account">Account</span>
    <p>User <br>
       Account balance
    </p>
</ul>
